.content_page {
    text-align: center;
    background-image: url("../images/bg_greyish_blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: calc(100vh - 56px);
}